.card{
  width: 282px;
  border-radius: 10px;
  background-color: #fff;
  position: relative;
  cursor: pointer;
}

.card__image{
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0px 0px;
}

.card__image-description{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 25px;
  color: #000;
}

.card__title{
  font-size: 24px;
  margin: 0;
  font-weight: 900;
  font-family: "Inter", sans-serif;
  line-height: 29.05px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__love-icon{
  width: 21px;
  height: 18px;
  cursor: pointer;
}

.card__love-icon_background_black{
  background-image: url(../images/Union.svg);
}

.card__link{
  transition: opacity 0.4s ease-in-out;
  background-color: transparent;
  border: none;
}

.card__link:hover{
  opacity: 50%;
}

.card__delete-btn{
  background-image: url(../images/Trash.svg);
  width: 18px;
  height: 19.3px;
  position: absolute;
  top: 18px;
  right: 15px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: opacity 0.4s ease-in-out;
}

.card__delete-btn:hover{
  opacity: 60%;
}